@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Maven+Pro:wght@400;500;600;700;800&display=swap');

/* Allgemein */

*{
    margin: 0;
    padding: 0;
}

img{
    border-radius: 10px;
    display: block;
    width: 850px;
    height: 600px;
    margin: 2rem 0px 2rem 8rem;
}

h2{
    font-size: 60px;
    padding: 0px 0px 0px 8rem;
}

header{
    font-family: Maven Pro;
}
main{
    font-family: Gilda Display;
}

a:visited{
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
    list-style-type: none;
}

/* HEADER */

body header{
    background-color: #333;
    height:45rem;
    color: #fff;
}

body header p{
    padding-top: 1rem;
    margin-left: 2rem;
    letter-spacing: 5px;
    line-height: 1.5;

}

body header p{
    padding-bottom: 10rem;
}

header section p{
    background-image: linear-gradient(to right,#3dc8d5, #8507e1);
    padding: 70px 20px 70px 20px;
    margin: auto;
    width: 25%;
    border-radius: 10px;
    background-position: center;
    line-height: 1;
}

header section p:hover{
    background-color: #45a7e2;
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .2) 100% );
    transition: background-color .3s ease-in-out;
}

header nav{
    text-align: right;
    margin: 3rem 4rem 0rem 0rem;
    line-height: 25px;
    text-decoration: none;
    color: #666;
}

/* header nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
} */

/* MAIN */

main{
    background-image: url(../img/projects.svg);
    background-size:contain;
    background-repeat: no-repeat;

}

main h1{
    padding: 5rem;
    margin: 10rem 0 0.5rem 0;
    font-size: 60px;
}

main article p{
    padding-left: 75px;
    padding-top: 30px;
    width: 35%;
}
main article p:nth-of-type(2){
    padding-bottom: 200px;
}

main section:first-of-type{
    margin-top: 60px;
}

main section p{
    margin: 0px 0px 0px 9rem;
    line-height: 1.5em;
}

main section:nth-of-type(1) p{
    padding-bottom: 30vh;
}

main section:nth-of-type(2) p{
    padding-bottom: 30vh;
}

main section:nth-of-type(3) p{
    padding-bottom: 5rem;
}